* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #25282a;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  color: #fff;
  font: 2rem Arial, sans-serif;
  text-align: center;
  padding: 1.5rem;
}

.slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 37.5rem;
  height: calc(100vw / 800 * 600);
}

.picture {
  width: 100%;
  max-width: 0;
  opacity: 0;
  -webkit-transition: max-width 0s linear 0.5s, opacity 0.5s ease-out 0s;
  transition: max-width 0s linear 0.5s, opacity 0.5s ease-out 0s;
}

.picture img {
  width: 100%;
}

#radio1:checked ~ .slider-box .picture__pic1, #radio2:checked ~ .slider-box .picture__pic2, #radio3:checked ~ .slider-box .picture__pic3, #radio4:checked ~ .slider-box .picture__pic4, #radio5:checked ~ .slider-box .picture__pic5, #radio6:checked ~ .slider-box .picture__pic6, #radio7:checked ~ .slider-box .picture__pic7, #radio8:checked ~ .slider-box .picture__pic8, #radio9:checked ~ .slider-box .picture__pic9 {
  max-width: 50rem;
  opacity: 1;
  -webkit-transition: max-width 0s linear 0.5s, opacity 0.5s ease-in 0.5s;
  transition: max-width 0s linear 0.5s, opacity 0.5s ease-in 0.5s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.label-box .label {
  height: 2rem;
  width: 1.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6' fill='%2371abff' stroke-width='3' stroke='%2371abff'/%3E%3C/svg%3E ");
  background-position: center;
  background-repeat: no-repeat;
}

.label-box .label:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6' fill='%23FFFFFF' stroke-width='3' stroke='%23FFFFFF'/%3E%3C/svg%3E ");
}

@media (max-width: 768px) {
  .label-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#radio1:checked ~ .wrapper .label[for="radio1"], #radio2:checked ~ .wrapper .label[for="radio2"], #radio3:checked ~ .wrapper .label[for="radio3"], #radio4:checked ~ .wrapper .label[for="radio4"], #radio5:checked ~ .wrapper .label[for="radio5"], #radio6:checked ~ .wrapper .label[for="radio6"], #radio7:checked ~ .wrapper .label[for="radio7"], #radio8:checked ~ .wrapper .label[for="radio8"], #radio9:checked ~ .wrapper .label[for="radio9"] {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6' fill='none' stroke-width='3' stroke='%2371abff'/%3E%3C/svg%3E ");
}

#radio1:checked ~ .wrapper .label[for="radio1"]:hover, #radio2:checked ~ .wrapper .label[for="radio2"]:hover, #radio3:checked ~ .wrapper .label[for="radio3"]:hover, #radio4:checked ~ .wrapper .label[for="radio4"]:hover, #radio5:checked ~ .wrapper .label[for="radio5"]:hover, #radio6:checked ~ .wrapper .label[for="radio6"]:hover, #radio7:checked ~ .wrapper .label[for="radio7"]:hover, #radio8:checked ~ .wrapper .label[for="radio8"]:hover, #radio9:checked ~ .wrapper .label[for="radio9"]:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6' fill='none' stroke-width='3' stroke='%23FFFFFF'/%3E%3C/svg%3E ");
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 2rem;
  overflow: hidden;
}

.text-box .text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 0;
  height: 100%;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  color: #25282a;
  font: 1.2rem Arial, sans-serif;
  line-height: 2rem;
  background-color: #25282a;
}

@media (max-width: 768px) {
  .text-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#radio1:checked ~ .wrapper .text__text1, #radio2:checked ~ .wrapper .text__text2, #radio3:checked ~ .wrapper .text__text3, #radio4:checked ~ .wrapper .text__text4, #radio5:checked ~ .wrapper .text__text5, #radio6:checked ~ .wrapper .text__text6, #radio7:checked ~ .wrapper .text__text7, #radio8:checked ~ .wrapper .text__text8, #radio9:checked ~ .wrapper .text__text9 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  -webkit-transform: translate(0);
          transform: translate(0);
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}

@media (max-width: 480px) {
  .header {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.8rem !important;
  }
}
/*# sourceMappingURL=style.css.map */